<div class="sign-in">
  <mat-card>
    <form #signIn="ngForm" (ngSubmit)="authService.signIn(emailControl.value, passwordControl.value)">
      <mat-card-content>
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" required placeholder="Ex.pat@example.com" ngModel
                 #emailControl="ngModel" email>
          <mat-error *ngIf="emailControl.hasError('required') && (emailControl.dirty || emailControl.touched)">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('email') && (emailControl.dirty || emailControl.touched)">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" required ngModel #passwordControl="ngModel">
          <mat-error *ngIf="passwordControl.hasError('required') && (passwordControl.dirty || passwordControl.touched)">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [disabled]="signIn.invalid"> Log In</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
